[Unit]
Description=hoobs-arch-check service
Before=homebridge-config-ui-x.service
After=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/hoobs-arch-check

[Install]
WantedBy=multi-user.target
