[Unit]
Description=SSDP Discovery Broadcast Service
After=nginx.service homebridge.service homebridge-config-ui-x.service

[Service]
Type=simple
Restart=on-failure
RestartSec=3
KillMode=process
ExecStart=/usr/local/sbin/ssdpd

[Install]
WantedBy=multi-user.target
